<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Env</key>
	<string>test</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>Roboto-Bold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
		<key>UILaunchScreen</key>
		<dict>
			<key>UIColorName</key>
			<string>Background</string>
			<key>UIImageName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
</dict>
</plist>
